<div class="alert alert-primary" role="alert">Yemek Sipariş Detayı</div>

<hr>



<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

    <input type="hidden" name="OrderId" #OrderId="ngModel" [(ngModel)]="formData.OrderId">
    <input type="hidden" name="OrderItemId" #OrderItemId="ngModel" [(ngModel)]="formData.ItemId">
    <input type="hidden" name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName">

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Yemek Seçimi</label>
            <div class="input-group">
                <select name="ItemId" #ItemId="ngModel" [(ngModel)]="formData.ItemId" class="form-control" (change)="updatePrice($event)" [class.is-invalid]="!isValid && formData.ItemId == 0">
                    <option value="0">== Şeçiniz ==</option>
                    <option *ngFor="let item of itemList" value="{{item.itemId}}">{{item.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label>Fiyat</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">TL</div>
                </div>
                <input type="number" min="0" name="Price" #OrderNo="ngModel" [(ngModel)]="formData.Price" class="form-control">
            </div>
        </div>

        <div class="form-group col-md-6">
            <label>Miktar</label>
            <input type="number" min="0" name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity" class="form-control" (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.Quantity == 0" />
        </div>

        <div class="form-group col-md-12">
            <label>Toplam Fiyat</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">TL</div>
                </div>
                <input value="0" name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="form-group float-right">
        <button type="submit" class="btn btn-outline-primary mr-3">
            <i class="fa fa-database mr-2"></i>
            Submit
        </button>
        <button class="btn btn-outline-danger" [mat-dialog-close]>
            <i class="fa fa-close mr-2"></i>
            Close
        </button>
    </div>
</form>