<form action="action_page.php" method="post">
    <div class="imgcontainer">
        <img src="../../assets/img/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container col-md-6">
        <label for="uname"><b>Kullanıcı Adı</b></label>
        <input type="text" placeholder="Kullanıcı Adı" name="uname" required [(ngModel)]="loginData.UserName">

        <label for="psw"><b>Parola</b></label>
        <input type="password" placeholder="Parola Giriniz" name="psw" required [(ngModel)]="loginData.Password">

        <button type="submit" (click)="login()">Login</button>
    </div>

    <div class="container col-md-6" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" routerLink="/orders">Anasayfa</button>
        <span class="psw"><a routerLink="/register">Kayıt Ol</a></span>
    </div>
</form>